*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: din;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $background;
}

main{
    padding: 5rem;
}

// mobile view
@media screen and (max-width: 768px){
    main{
        padding: 2rem;
    }
}