@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oxygen:wght@700&display=swap');


// feather 
@font-face {
    font-family: 'feather';
    src: url('../fonts/feather_bold.ttf');
}

// din rounded 
@font-face {
    font-family: 'din';
    src: url('../fonts/din-rounded.woff');
}

// apple emoji
@font-face {
    font-family: 'emoji';
    src: url('../fonts/apple_emoji.ttf');
}
