// Dark Variables
$background: #F1F1F1;
// $header-background: #89e219;
$header-background: 40deg, rgba(137,226,25,1) 0%, rgba(88,204,2,1) 100%;
$main: #4b4b4b;
$primary: #1cb0f6;
$primary-gradient: 40deg, rgba(62,142,209,1) 0%, rgb(75, 192, 247) 100%;
$secondary: #ce82ff;
$bee: #ffde00;
$fox: #ff9600;
$cardinal: #ff4b4b;
$active: #007bff;

// Shadow Variables
$shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
$button-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);


// Font Variables
$feather: 'feather';
$oxygen: 'Oxygen',sans-serif;
$oxygen2: 'Open Sans',sans-serif;